.App {
  text-align: center;
}
.navbar {
  height: 10vh;
  font-size: 2em;
  color: orange;
}

.selectedStudent {
  width: 100vw;
  height: 20vh;
  border: 2px dotted orange;
  text-align: center;
  justify-content: center;
  color: orange;
  font-size: 5em;
}

.submitBtn {
  margin-top: 10px;
  width: 200px;
  height:100px;
  border-radius: 5px;
  border: 1px solid orange;
  font-size: 2em;
  color:  orange;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submitBtn:hover {
  background-color: orange; /* Green */
   color: white;
}

.studentBox {
  margin-top: 10px;
}

.indivStudent {
  color: orange;
}

.remove {
  background-color: red;
  color: white;
  border-radius: 20px;
}

.remove:hover{
  background-color: black;
}

.refresh {
  background-color: green;
  color: white;
  border-radius: 3px;
}
